/* reset css */

* {
  padding: 0;
  margin: 0;

  /* box-sizing: border-box; tự động điều chỉnh kích thước border, nội dung sẽ tự điều chỉnh */
  box-sizing: border-box;
}

/* Set thuộc tính cho thẻ htlm cho cả trang nhé */
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
/* Làm từ ngoài vào trong và từ trên xuống dưới */
/* 1: vị trí
2: kích thước (nhớ quan tâm tới rộng và cao )
3: Màu sắc
4: kiểu dáng ẩn hiện vuông tròn gì đó


cho từng khối luôn nhé */
#main {
}
/* cái này dùng cho các thẻ div riêng lẻ , được viết vào trong html nhé */
.text-white {
  color: white;
}
#header {
  height: 46px;
  background-color: black;
  position: fixed;
  right: 0;
  /* Cứ có mấy cái này là nó bám dính cố định */
  left: 0;
  /* top 0 cho thanh header bám lên nếu không khi mà margin đẩy cái slide 
  là nó bị đẩy xún theo  */
  top: 0;
  /* cho cái thanh header nổi lên trên khi cuộn hình thì thấy hiệu ứng đó */
  z-index: 1;
}

#header .search-icon:hover {
  background-color: red;
  cursor: alias;
}

#header .search-icon {
  float: right;
  padding: 8px 20px;
}

#header .ti-search {
  color: white;
  font-size: 20px;
  line-height: 30px;
}

#nav {
  display: inline-block;
}
#nav > li {
  position: relative;
  display: inline-block;
}
#nav > li > a {
  color: white;
  text-decoration: none;
  line-height: 46px;
  padding: 15px 25px;
}
#nav .subnav li:hover a {
  background-color: gray;
}
#nav .subnav li a {
  color: black;
  text-decoration: none;
  display: block;
  line-height: 20px;
  padding: 8px 50px 8px 16px;
}
#nav .subnav li {
  list-style-type: none;
}
#nav li:hover .subnav {
  display: block;
  background-color: white;
  color: black;
}
#nav > li:hover > a {
  background-color: gray;
  color: black;
}

#nav .subnav {
  display: none;
  position: absolute;
}
#slider {
  margin-top: 46px;
  padding-top: 50%;
  background: url(/assets/img/slider1.jpg) top center / cover no-repeat;
  position: relative;
}

#slider .text {
  position: absolute;
  bottom: 47px;
  text-align: center;
  /* left: 0;
  right: 0; */
  width: 100%;
}
#slider .text-header {
  color: white;
  font-size: 30px;
  margin: 20px;
}
#slider .text-descriton {
  color: white;
}

#content .content-section {
  max-width: 100%;
  width: 800px;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
#content .content-heading {
  text-align: center;
  margin: 10px 0px;
  letter-spacing: 4px;
}
#content .content-sub-heading {
  text-align: center;
  font-size: 15px;
  margin: 10px 0px;
}

#content .content-Main {
  margin: 15px 0px;
  text-align: justify;
  line-height: 1.4;
}

#content .picture-section {
  padding: 32px 0px;
  overflow: hidden;
}
#content .picture-section .third {
  /* display: inline-block; */

  /* viết display như trên cũng được có 2 cách vì thẻ div có tính block sẽ thành hàng dọc */
  /* viết float để đẩy nó qua đâu đó tùy */
  float: left;
  /* khi dùng fload lâu nó sẽ bị lỗi kiểu bị đề lên , 
  hoặc không ôm được thẻ con khắc phục bằng  
  overflow là nó đẩy căng ra lại ,
  hoặc có thể dùng clear = both bằng cách tạo 1 thẻ div ở ngay dưới */
  /* transform: scale(0.7); */
  width: 33.33333%;
  text-align: center;
}

#content .picture-section .third img {
  /* đặt 1 cái width th là cái còn lại tự động là ảnh nhé */
  width: 154px;

  border-radius: 4px;
}

#content .picture-section .third p {
  font-size: 15px;
  margin: 15px 0px;
}

.tuor-section {
  background-color: black;
}
.list-day {
  background-color: #fff;
  margin-top: 40px;
}
.tour-list li {
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
  color: #757575;
  list-style-type: none;
}

.show-list .status {
  background-color: red;
  color: white;
  padding: 0px 8px;
  margin: 0 0 0 16px;
}
.show-list .status3 {
  float: right;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 19px;
  text-align: center;
  list-style: 22px;
}

.row {
  padding: 32px 8px;
  margin: 0px -24px;
  /* overflow để fix fload */
  overflow: hidden;
}
.tour-third {
  float: right;
  width: 33.33333%;
  /* chia thẻ này thành 3 phần , cái thẻ này sẽ chứa cái hình */
  margin: 0px 0px 16px;
  padding: 0px 16px;
}
.tour-third img {
  /* tính chất của hình sẽ kh tự co nhỏ lại */
  /* with này giúp cái hình hiển thị 100% trong cái thẻ div chứa nó */
  width: 100%;
  vertical-align: middle;
}

.content-sub-heading,
.opacity,
.tour-third img:hover {
  opacity: 0.6;
}

.content-row {
  background-color: white;
  padding: 0.15px 16px;
  min-height: 204.8px;
  font-size: 15px;
  font: sans-serif;
}
.content-row p {
  margin: 15px 0px;
}

.buy-ticket {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px 16px;
  line-height: 70px;
  margin-bottom: 16px;
}
.buy-ticket:hover {
  background-color: gray;
  color: black;
}
.row-contact {
  padding: 32px 0px;
  overflow: hidden;
}
.row-info {
  display: inline-block;
  width: 50%;
  font-size: 18px;
  line-height: 15px;
}
.field-contact {
  float: right;
  width: 50%;
}
.info-contact {
  line-height: 25px;
}
.w3-right {
  float: right;
}
.row-padding {
  width: 100%;
  margin-bottom: 8px;
}
.half-name {
  width: 50%;
  display: inline-block;
  padding-right: 8px;
}
.half-email {
  width: 50%;
  float: right;
  padding-left: 8px;
}

.w3-input {
  width: 100%;
}
.w3-input-1 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}
.w3-input {
  padding: 10px;
  border: 1px solid #ccc;
}
.confirm {
  overflow: hidden;
  margin: 16px 0px;
  display: inline-block;
  float: right;
}

.confirm .w3-right:hover {
  background-color: gray;
  color: black;
}
.w3-right {
  background-color: black;
  color: white;
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  border: none;
}

.picture-map img {
  height: 621px;
  width: 100%;
  vertical-align: middle;
}
#foodter {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
  font-size: 24px;
  opacity: 0.6;
}
#foodter i:hover {
  opacity: 0.4;
}
.medium {
  margin: 15px 0px;
  font-size: 15px;
}
.medium a {
  color: inherit;
}

.model {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.model-container {
  background: #fff;
  width: 900px;
  position: relative;
  min-height: 200px;
}
.ti-close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 9px 15px;
}

.ti-close:hover {
  background-color: #ccc;
}
.model{
  display: none;
}
.model-header {
  background-color: #009688;
  padding: 47px 11px;
  text-align: center;
  font-size: 30px;
  min-height: 129px;
  color: white;
  letter-spacing: 4px;
}

.model-body {
  display: grid;
  padding: 0px 16px;
}
.modal-footer {
  float: right;
  padding-right: 16px;
}
#buy-ticket {
  padding: 16px;
  margin-top: 10px;
  background-color: #009688;
  border: none;
  font-size: 15px;
  color: white;
  }

.model-help{
  margin: 15px;
}


/* @media screen and (min-width: 1024px) {
  
}
@media screen and (max-width: 1023px) and (min-width: 740px) {
  
}

@media screen and (max-width: 739px) {
  
} */